<footer class="container-fluid bg-light">
	<div class="service_container">
		<h2 id="chiffres_cles_p">Meubles elmo, entreprise familiale créée en 1987, aujourd'hui...</h2>

		<div id="chiffre_cle1" class="chiffre_cle">
			<a href="">
				<img class="img-responsive" src="{{ asset('assets/img/showrooms-meubles-Elmo-bis.jpg')}}" alt="Magasins Meubles Elmo Paris et IDF" title="Meubles Elmo BONDY et Meubles Elmo HERBLAY, 2 magasins en Île-de-France pour mieux vous servir" />
			</a>
		</div>

		<div id="chiffre_cle2" class="chiffre_cle">
			<a href="">
				<img class="img-responsive" src="{{ asset('assets/img/entrepot-meubles-elmo-bis.jpg')}}" alt="Espace showroom, stock et entrepôt Meubles Elmo" title="Grands espaces expo, vente, stock à Paris et Région parisienne" />
			</a>
		</div>

		<div id="chiffre_cle3" class="chiffre_cle">
			<a href="">
				<img class="img-responsive" src="{{ asset('assets/img/atelier-reparation-meubles-Elmo-bis.jpg')}}" alt="Atelier de réparation meubles à Montreuil" title="Un atelier de réparation meubles à Montreuil. Un concept et service uniques en Région Parisienne" />
			</a>
		</div>

		<div id="chiffre_cle4" class="chiffre_cle">
			<a href="">
				<img class="img-responsive" src="{{ asset('assets/img/clients-satisfaits-bis.jpg')}}" alt="50 000 clients satisfaits" title="Plus de 50 000 clients servis et satisfaits depuis 1987, année de création des Meubles ELMO" />
			</a>
		</div>
	</div>
</footer>
